:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto';
  font-style: normal;
  color: white;
}

body {
  background: #1a1924;
}

.wrapper {
  padding: 2.4rem 3.2rem;
}

.headerWarppe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 100%;
}

.chat {
  color: #e1e1e6;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.status {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #00b37e;
}

h1 {
  color: #e1e1e6;
  margin-bottom: 0.4rem;
}

header img {
  width: 8rem;
  height: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 99999px;
}

header {
  margin-bottom: 6rem;
}

header p {
  margin-top: 2.6rem;
  font-size: 1.2rem;
  color: #e1e1e6;
  text-align: center;
}

header button {
  margin-left: auto;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.chat {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.chat p {
  padding: 1.4rem;
}

.chat p:nth-child(1),
.chat p + p {
  margin-bottom: 4rem;
}

.he {
  width: min(60%, 30rem);
  background: #633bbc;
  border-radius: 0px 8px 8px 8px;
}

.me {
  margin-left: auto;
  width: min(60%, 30rem);

  background: #07847e;
  border-radius: 8px 8px 0px 8px;
}

footer {
  position: fixed;
  bottom: 0;
  left: -0.1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 3.2rem;
  background: #1a1924;
}

footer form input {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background: transparent;
  width: 100%;

  padding: 1.4rem 2.4rem;
  border: none;
  color: white;
  outline: none;
}

footer form:focus-within {
  outline: 2px solid white;
}

footer form {
  display: flex;
  align-items: center;
  width: 90%;

  border-radius: 99999px;
  background: #282843;
  padding-inline: 1.6rem;
}

footer form button {
  background: transparent;
  border: none;
}

@media (min-width: 900px) {
  .wrapper {
    max-width: 110rem;
    margin-inline: auto;
  }

  footer form {
    max-width: 110rem;
    align-items: center;
  }
}
